/* A parada das fontes tá aí pra resolver depois */
@font-face {
    font-family: 'Industry Inc Outline';
    src: url('../../fonts/IndustryInc-Base\ \(1\).ttf') format('truetype');
}
.navbar {
    background-color: black;
    height: 15vh;
    color: white;
    display: grid;
    grid-template-areas: "galo .  . links";
    
}

.logo {
    position: sticky;
    grid-area: galo
}

.menu {
    grid-area: links;
    text-decoration: none;
    height: 15vh;
}


.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-family: 'Industry Inc Outline';
    
}

.menu li {
    text-decoration: none;
    height: 15vh;
    
}

.menu p {
    padding:  28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    color: white;
    transition: .9s;
    text-decoration: none;
    height: 15vh;
    
    
}


.menu p:hover {
    background-color: rgb(75, 74, 74);
}

*{
    text-decoration: none;
}

