.main {
    
    height: 80vh;
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
  
    width: 600px;
    height: 80vh;
    font-family: 'Industry Inc Outline';
}

.formulario input, select {
    margin-left: 1em;
    font-family: 'Industry Inc Outline';
    
}

.formulario label {
    font-size: 1.5em;
}

.formulario select {
    font-size: 1em;
}

.formulario input {
    font-size: 1.3em;
    width: 300px;
}

.areaButton {
    
    width: 415px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.formulario button {
    margin-top: 2em;
    padding: 25px;
    border: none;
    font-family: 'Industry Inc Outline';
    transition: 1.5s;
}

.btnCancelar:hover {
    background: gray;
    color: red;
}

.btnCadastrar {
    background-color: black;
    color: yellow;
}

.btnCadastrar:hover {
    background: gray;
}

progress {
    display: block;
    -webkit-appearence: none;
}

progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
}

progress::-moz-progress-bar {
    background: white;
    border-radius: 50px;
    padding: 2px;
}

progress::-webkit-progress-value {
    border-radius: 50px;
    background: orange;
}