.containerMain {
    height: 80vh;
    display: grid;
    margin: 50px;
    grid-template-columns: 200px 200px 200px;
    background-color: yellow;
}

.containerMain ul {
    list-style: none;
}

.msg {
    font-family: 'Industry Inc Outline';
    text-align: center;
    width: 90vw;
    height: 10vh;
    font-size: 2em;
}